name: yolov8-pose
channels:
  - conda-forge
  - defaults

dependencies:
  - python=3.10
  - pip
  - numpy
  - scipy
  - scikit-learn
  - matplotlib
  - seaborn
  - pandas
  - tqdm
  - pyyaml
  - pip:
      - ultralytics
      - torch
      - torchvision
      - opencv-python
